<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title></title>
</head>
<body>

	<div>
		Title : <input type="text" id="title" onkeyup="titleKeyup()" ng-model="movie.Title" /><div id="checkTitle"></div>
	</div>

	<div>
		ReleaseDate : <input type="text" id="releaseDate" onkeyup="dateKeyup()" ng-model="movie.ReleaseDate" /><div id="checkReleaseDate"></div>
	</div>

	<div>
		Genre : <input type="text" id="genre" onkeyup="genreKeyup()" ng-model="movie.Genre" /><div id="checkGenre"></div>
	</div>

	<div>
		Price : <input type="text" id="price" onkeyup="priceKeyup()" ng-model="movie.Price" /><div id="checkPrice"></div>
	</div>

	<div>
		Rating : <input type="text" id="rating" onkeyup="ratingKeyup()" ng-model="movie.Rating" /><div id="checkRating"></div>
	</div>

	<div>
		Review : <input type="text" id="review" onkeyup="reviewKeyup()" ng-model="movie.Review" /><div id="checkReview"></div>
	</div>
	<span id="validationResult"></span>
	<button ng-click="edit()">Edit</button>
</body>
</html>