<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title></title>
</head>
<body>
	<div>
		<div>
			Title : <input type="text" readonly ng-model="movies.Title" style="border:none;" />
		</div>

		<div>
			ReleaseDate : <input type="text" readonly ng-model="movies.ReleaseDate" style="border:none;" />
		</div>

		<div>
			Genre : <input type="text" readonly ng-model="movies.Genre" style="border:none;" />
		</div>

		<div>
			Price : <input type="text" readonly ng-model="movies.Price" style="border:none;" />
		</div>

		<div>
			Rating : <input type="text" readonly ng-model="movies.Rating" style="border:none;" />
		</div>

		<div>
			Review : <input type="text" readonly ng-model="movies.Review" style="border:none;" />
		</div>

		<button ng-click="delete()">Delete</button>
	</div>
</body>
</html>