<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title></title>
</head>
<body>
	Title: <input type="text" onkeyup="titleKeyup()" ng-model="movie.Title" id="title" /><br />
	<div id="checkTitle"></div>
	ReleaseDate: <input type="text" onkeyup="dateKeyup()" ng-model="movie.ReleaseDate" id="releaseDate" /><br />
	<div id="checkReleaseDate"></div>
	Genre: <select ng-model="movie.Genre" ng-options="g for g in genreList"></select>
	<div id="checkGenre"></div>
	Price: <input type="text" onkeyup="priceKeyup()" ng-model="movie.Price" id="price" /><br />
	<div id="checkPrice"></div>
	Rating: <input type="text" onkeyup="ratingKeyup()" ng-model="movie.Rating" id="rating" /><br />
	<div id="checkRating"></div>
	Reivew: <input type="text" onkeyup="reviewKeyup()" ng-model="movie.Review" id="review" /><br />
	<div id="checkReview"></div>
	<div id="errorField" style="text-align: right;display:none; color:red; border:1px red solid; width:320px; border-radius:10px">각 필드 조건을 다시 한번 확인해주시기 바랍니다.</div><br/>
	<button ng-click="postRequest()">Post</button>
</body>
</html>