<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title></title>
</head>
<body>
	Title: <input type="text" ng-keyup="titleKeyup()" ng-model="movie.Title" name="title" /><br />
	<div id="checkTitle"></div>
	ReleaseDate: <input type="text" id="tq" ng-keyup="dateKeyup()" ng-model="movie.ReleaseDate" name="releaseDate" /><br />
	<div id="checkReleaseDate"></div>
	Genre: <input type="text" ng-keyup="genreKeyup()" ng-model="movie.Genre" name="genre" /><br />
	<div id="checkGenre"></div>
	Price: <input type="text" ng-keyup="priceKeyup()" ng-model="movie.Price" name="price" /><br />
	<div id="checkPrice"></div>
	Rating: <input type="text" ng-keyup="ratingKeyup()" ng-model="movie.Rating" name="rating" /><br />
	<div id="checkRating"></div>
	Reivew: <input type="text" ng-keyup="reviewKeyup()" ng-model="movie.Review" name="review" /><br />
	<div id="checkReview"></div>
	<button ng-click="postRequest()">Post</button>
</body>
</html>