<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title></title>
</head>
<body>
	Title: <input type="text" onkeyup="titleKeyup()" ng-model="movie.Title" id="title" /><br />
	<div id="checkTitle"></div>
	ReleaseDate: <input type="text" onkeyup="dateKeyup()" ng-model="movie.ReleaseDate" id="releaseDate" /><br />
	<div id="checkReleaseDate"></div>
	Genre: <input type="text" onkeyup="genreKeyup()" ng-model="movie.Genre" id="genre" /><br />
	<div id="checkGenre"></div>
	Price: <input type="text" onkeyup="priceKeyup()" ng-model="movie.Price" id="price" /><br />
	<div id="checkPrice"></div>
	Rating: <input type="text" onkeyup="ratingKeyup()" ng-model="movie.Rating" id="rating" /><br />
	<div id="checkRating"></div>
	Reivew: <input type="text" onkeyup="reviewKeyup()" ng-model="movie.Review" id="review" /><br />
	<div id="checkReview"></div>
	<span id="titleResult"></span>
	<span id="dateResult"></span>
	<span id="genreResult"></span>
	<span id="priceResult"></span>
	<span id="ratingResult"></span>
	<span id="reviewResult"></span>
	<button ng-click="postRequest()">Post</button>
</body>
</html>